<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="testos">
    <meta name="author" content="Samuel Colvin">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <title>testos</title>
  </head>

  <body>

    <div class="container">
      <h1>CPU info</h1>
      {% for name, outout in info %}
        <p>
          <b>
            <code>{{ name }}</code> Output:
          </b>
        </p>
        <pre>{{ outout }}</pre>
        <hr>
      {% endfor %}
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
